.ws-page .wrapper {
  font: 0/0 a;
  padding: 20px;
  text-align: center;}

.ws-page aside,
.ws-page section {
  display: inline-block;
  margin-bottom: -20px;
  text-align: left;
  vertical-align: top;}

.ws-page aside > *,
.ws-page section > * {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

/**
 * Fluid
 */

@media (max-width: 767px) {.ws-page.fluid aside {margin-bottom: 0;}}
@media (min-width: 768px) {.ws-page.fluid aside {margin-right: 20px;}}
@media (max-width: 767px) {.ws-page.fluid aside {width: 100%;}}
@media (min-width: 768px) {.ws-page.fluid aside {width: 200px;}}
@media (max-width: 767px) {.ws-page.fluid section {width: 100%;}}
@media (min-width: 768px) {.ws-page.fluid section {width: calc(100% - 220px);}}

/**
 * Fixed
 */

@media (max-width: 479px) {.ws-page.fixed aside {margin-bottom: 0;}}
@media (min-width: 480px) {.ws-page.fixed aside {margin-right: 20px;}}
@media (max-width: 479px) {.ws-page.fixed aside {width: 220px;}}
@media (min-width: 480px) {.ws-page.fixed aside {width: 200px;}}
@media (max-width: 479px)                        {.ws-page.fixed section {width: 220px;}}
@media (min-width: 480px) and (max-width: 719px) {.ws-page.fixed section {width: 220px;}}
@media (min-width: 720px) and (max-width: 959px) {.ws-page.fixed section {width: 460px;}}
@media (min-width: 960px)                        {.ws-page.fixed section {width: 700px;}}

/**
 * Links (aside)
 */

.ws-page aside .links a {
  font: 500 14px/16px 'Roboto';
  display: block;
  margin-bottom: 20px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #579eff;}

.ws-page aside .links a:hover {
  background: #84c7ff;}

.ws-page aside .links a:last-child {
  margin-bottom: 0;}

/**
 * Filters (aside)
 */

.ws-page aside .filters .group {margin-bottom: 20px;}
.ws-page aside .filters .group:last-child {margin-bottom: -10px;}

.ws-page aside .filters .slider {
  width: 100%;}

.ws-page aside .filters .slider .title,
.ws-page aside .filters .slider .price {
  font: 500 14px/12px 'Roboto';
  height: 12px;
  cursor: default;
  user-select: none;
  text-transform: uppercase;}

.ws-page aside .filters .slider .title {
  margin-bottom: 10px;}

.ws-page aside .filters .slider slider {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  margin: 14px 0;}

.ws-page aside .filters .slider slider div {
  position: absolute;
  white-space: nowrap;}

.ws-page aside .filters .slider .bar {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: #ddd;}

.ws-page aside .filters .slider .selection {
  width: 0%;
  height: 100%;
  background: #84c7ff;}

.ws-page aside .filters .slider .handle {
  z-index: 2;
  top: -6px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);}

.ws-page aside .filters .slider .handle:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  content: '';
  border-radius: 50%;
  background: transparent;}

.ws-page aside .filters .slider .handle:after:hover,
.ws-page aside .filters .slider .handle.active:after {
  background: transparent;}

.ws-page aside .filters .slider .bubble,
.ws-page aside .filters .slider .bubble.active,
.ws-page aside .filters .slider .bubble.limit {
  display: none;}

.ws-page aside .filters .switch {
  position: relative;
  width: 100%;
  height: 16px;
  margin-bottom: 10px;}

.ws-page aside .filters .switch label {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  cursor: pointer;
  user-select: none;}

.ws-page aside .filters .switch span {
  font: 500 14px/16px 'Roboto';}

.ws-page aside .filters .switch input {
  display: none;}

.ws-page aside .filters .switch div {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 16px;
  border-radius: 8px;
  background: #ddd;}

.ws-page aside .filters .switch div > div {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  content: '';
  border-radius: 6px;
  background: #fff;}

.ws-page aside .filters .switch input:checked + div {
  background: #579eff;}

.ws-page aside .filters .switch input:checked + div > div {
  transform: translateX(12px);}
