<!-- INFORMATION PAGE -->

<div class="content">
  <div class="ws-page fluid">

    <div ng-include="'app/views/modules/header1.html'" class="head1"></div>

    <div class="container">
      <div class="wrapper">

        <aside>
          <div class="links">
            <a ng-repeat="page in wsPages"
               ng-bind="page.bind"
               ng-attr-ui-sref="{{page.sref}}"></a>
          </div>
        </aside>

        <section ui-view></section>

      </div>
    </div>

  </div>
</div>

<div ng-include="'app/views/modules/footer1.html'"></div>
