<!-- HOME PAGE -->

<div class="content">
  <div ng-include="'app/views/page1/block1.html'"></div>
  <div ng-include="'app/views/page1/block2.html'"></div>
  <div ng-include="'app/views/page1/block3.html'"></div>
  <div ng-include="'app/views/page1/block4.html'"></div>
  <div ng-include="'app/views/page1/block5.html'"></div>
  <div ng-include="'app/views/page1/block6.html'"></div>
</div>

<div ng-include="'app/views/modules/footer1.html'"></div>

<div ng-include="'app/views/modules/modal1.html'"></div>
