<article ng-controller="aboutUs">




  <div class="title"
       ng-if="content.title"
       ng-bind="content.title"></div>

  <div class="desc"
       ng-repeat="desc in content.desc"
       ng-bind="desc"></div>




  <div class="title"
       ng-if="history.title"
       ng-bind="history.title"></div>

  <div class="desc"
       ng-repeat="desc in history.desc"
       ng-bind="desc"></div>




  <div class="title"
       ng-if="mission.title"
       ng-bind="mission.title"></div>
  <div class="desc" ng-bind="mission.desc1"></div>

  <ul>
    <li ng-repeat="list in mission.list" ng-bind="list"></li>
  </ul>

  <div class="desc" ng-bind="mission.desc2"></div>




</article>
