<article ng-controller="locations">





  <address ng-repeat="data in content">

    <div>
      <span ng-bind="data.city1 + ', '"></span>
      <span ng-bind="data.stateShort"></span>
    </div>

    <div ng-bind="data.address"></div>

    <div>
      <span ng-bind="data.city2 + ', '"></span>
      <span ng-bind="data.stateShort + ' '"></span>
      <span ng-bind="data.zipCode"></span>
    </div>

    <div>
      <span>Open Now: </span>
      <span ng-bind="data.openNowAM + 'AM'"></span>
      <span> - </span>
      <span ng-bind="data.openNowPM + 'PM'"></span>
      <span ng-bind="' ' + data.timeZone"></span>
    </div>

    <div ng-repeat="contact in data.contact">
      <span ng-bind="contact.bind1"></span>
      <span ng-bind="contact.bind2"></span>
    </div>

  </address>





</article>
