<form ng-controller="screeningTool">

  <div class="group"> <!-- FIRST NAME -->
    <label>First Name</label>
    <input type="text" placeholder="Name">
  </div>

  <div class="group"> <!-- LAST NAME -->
    <label>Last Name</label>
    <input type="text" placeholder="Name">
  </div>

  <div class="group"> <!-- EMAIL -->
    <label>Email</label>
    <input type="text" placeholder="Email">
  </div>

  <div class="group"> <!-- PHONE -->
    <label>Phone</label>
    <input type="text" placeholder="Phone">
  </div>

  <div class="group"> <!-- DATE OF BIRTH -->
    <label>Date Of Birth</label>
    <input type="text" placeholder="11/03/1994">
  </div>

  <div class="group"> <!-- GENDER -->
    <label>Gender</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="gender" checked>
        <div></div><span>Male</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="gender">
        <div></div><span>Female</span>
      </label>
    </div>
  </div>

  <div class="group"><hr></div>

  <div class="group"> <!-- HEIGHT -->
    <label>What is your height?</label>
    <div class="group left-right">
      <input class="left" type="text" placeholder="height">
      <div class="select right">
        <select>
          <option value="">cm</option>
          <option value="">in.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="group"> <!-- WEIGHT -->
    <label>What is your weight?</label>
    <div class="group left-right">
      <input class="left" type="text" placeholder="weight">
      <div class="select right">
        <select>
          <option value="">kg</option>
          <option value="">lbs</option>
        </select>
      </div>
    </div>
  </div>

  <div class="group test-info"> <!-- TEST INFO -->
    <span>Your BMI is 22. The National Institute of Health rating scale places you in the normal.</span>
  </div>

  <div class="group btn-fluid"> <!-- BUTTON -->
    <input type="button" value="Calculate BMI">
  </div>

  <div class="group"><hr></div>

  <div class="group"> <!-- RADIO 01 -->
    <label>Do you snore?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio1" ng-model="radio1">
        <div></div><span>Yes</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio1" ng-model="radio1">
        <div></div><span>No</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio1" ng-model="radio1">
        <div></div><span>Don't Know</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 02 -->
    <label>If you snore, your snoring is...</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio2" ng-model="radio2">
        <div></div><span>Slightly louder than breathing</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio2" ng-model="radio2">
        <div></div><span>As loud as talking</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio2" ng-model="radio2">
        <div></div><span>Louder than talking</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio2" ng-model="radio2">
        <div></div><span>Very loud - can be heard in adjacent rooms</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 03 -->
    <label>How often do you snore?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio3" ng-model="radio3">
        <div></div><span>Nearly every day</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio3" ng-model="radio3">
        <div></div><span>3-4 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio3" ng-model="radio3">
        <div></div><span>1-2 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio3" ng-model="radio3">
        <div></div><span>1-2 times a month</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio3" ng-model="radio3">
        <div></div><span>Never or nearly never</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 04 -->
    <label>Has your snoring ever bothered other people?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio4" ng-model="radio4">
        <div></div><span>Yes</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio4" ng-model="radio4">
        <div></div><span>No</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio4" ng-model="radio4">
        <div></div><span>Don't Know</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 05 -->
    <label>Has anyone noticed that you quit breathing during your sleep?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio5" ng-model="radio5">
        <div></div><span>Nearly every day</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio5" ng-model="radio5">
        <div></div><span>3-4 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio5" ng-model="radio5">
        <div></div><span>1-2 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio5" ng-model="radio5">
        <div></div><span>1-2 times a month</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio5" ng-model="radio5">
        <div></div><span>Never or nearly never</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 06 -->
    <label>How often do you feel tired or fatigued after your sleep?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio6" ng-model="radio6">
        <div></div><span>Nearly every day</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio6" ng-model="radio6">
        <div></div><span>3-4 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio6" ng-model="radio6">
        <div></div><span>1-2 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio6" ng-model="radio6">
        <div></div><span>1-2 times a month</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio6" ng-model="radio6">
        <div></div><span>Never or nearly never</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 07 -->
    <label>During your waking time, do you feel tired, fatigued, or not up to par?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio7" ng-model="radio7">
        <div></div><span>Nearly every day</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio7" ng-model="radio7">
        <div></div><span>3-4 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio7" ng-model="radio7">
        <div></div><span>1-2 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio7" ng-model="radio7">
        <div></div><span>1-2 times a month</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio7" ng-model="radio7">
        <div></div><span>Never or nearly never</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 08 -->
    <label>Have you ever nodded off or fallen asleep while driving a vehicle?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio8" ng-model="radio8">
        <div></div><span>Yes</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio8" ng-model="radio8">
        <div></div><span>No</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 09 -->
    <label>If yes, how often does it occur?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio9" ng-model="radio9">
        <div></div><span>Nearly every day</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio9" ng-model="radio9">
        <div></div><span>3-4 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio9" ng-model="radio9">
        <div></div><span>1-2 times a week</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio9" ng-model="radio9">
        <div></div><span>1-2 times a month</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio9" ng-model="radio9">
        <div></div><span>Never or nearly never</span>
      </label>
    </div>
  </div>

  <div class="group"> <!-- RADIO 10 -->
    <label>Do you have high blood pressure?</label>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio10" ng-model="radio10">
        <div></div><span>Yes</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio10" ng-model="radio10">
        <div></div><span>No</span>
      </label>
    </div>
    <div class="radio radio-ver">
      <label>
        <input type="radio" name="radio10" ng-model="radio10">
        <div></div><span>Don't Know</span>
      </label>
    </div>
  </div>

  <div class="group"><hr></div>

  <div class="group btn-justify"> <!-- RESET & SUBMIT -->
    <input type="reset" value="reset">
    <input type="submit" value="submit">
  </div>

</form>


















