<article ng-controller="testimonials">





  <blockquote ng-repeat="data in content">

    <div class="comment"
         ng-repeat="comment in data.comment"
         ng-bind="comment"></div>

    <div class="author">
      <span ng-bind="data.who + ', '"></span>
      <span ng-bind="data.place"></span>
    </div>

  </blockquote>





</article>
