<div class="testpage" ng-controller="testPage1">

  <div class="container">
    <div class="wrapper">
      <form autocomplete="off" novalidate>

        <div class="group"> <!-- INPUT TEXT -->
          <label>Input Text</label>
          <input type="text" placeholder="text">
        </div>

        <div class="group"> <!-- INPUT EMAIL -->
          <label>Input Email</label>
          <input type="email" placeholder="text">
        </div>

        <div class="group"> <!-- INPUT SEARCH -->
          <label>Input Search</label>
          <input type="search" placeholder="text">
        </div>

        <div class="group"> <!-- INPUT PASSWORD -->
          <label>Input Password</label>
          <input type="password" placeholder="text">
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- TEXT AREA -->
          <label>Text Area</label>
          <textarea placeholder="text"></textarea>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- RADIO BUTTONS VERTICAL -->
          <label>Radio Buttons (vertical)</label>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="radio radio-ver">
            <label>
              <input type="radio" name="radio1">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- RADIO BUTTONS HORIZONTAL -->
          <label>Radio Buttons (horizontal)</label>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="radio radio-hor">
            <label>
              <input type="radio" name="radio2">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- RADIO BUTTONS HORIZONTAL CENTER -->
          <label>Radio Buttons (horizontal, center)</label>
          <div class="radio-center">
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3" checked>
                <div></div>
                <span>Item 1</span>
              </label>
            </div>
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3">
                <div></div>
                <span>Item 2</span>
              </label>
            </div>
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3">
                <div></div>
                <span>Item 3</span>
              </label>
            </div>
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="radio3">
                <div></div>
                <span>Item 4</span>
              </label>
            </div>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- CHECK BOX -->
          <label>Check Box (vertical)</label>
          <div class="check check-ver">
            <label>
              <input type="checkbox" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="check check-ver">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="check check-ver">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="check check-ver">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- CHECK BOX HORIZONTAL -->
          <label>Check Box (horizontal)</label>
          <div class="check check-hor">
            <label>
              <input type="checkbox" checked>
              <div></div>
              <span>Item 1</span>
            </label>
          </div>
          <div class="check check-hor">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 2</span>
            </label>
          </div>
          <div class="check check-hor">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 3</span>
            </label>
          </div>
          <div class="check check-hor">
            <label>
              <input type="checkbox">
              <div></div>
              <span>Item 4</span>
            </label>
          </div>
        </div>

        <div class="group"> <!-- CHECK BOX HORIZONTAL CENTER -->
          <label>Check Box (horizontal, center)</label>
          <div class="check-center">
            <div class="check check-hor">
              <label>
                <input type="checkbox" checked>
                <div></div>
                <span>Item 1</span>
              </label>
            </div>
            <div class="check check-hor">
              <label>
                <input type="checkbox">
                <div></div>
                <span>Item 2</span>
              </label>
            </div>
            <div class="check check-hor">
              <label>
                <input type="checkbox">
                <div></div>
                <span>Item 3</span>
              </label>
            </div>
            <div class="check check-hor">
              <label>
                <input type="checkbox">
                <div></div>
                <span>Item 4</span>
              </label>
            </div>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- INPUT FILE -->
          <label>Input File</label>
          <label class="file">
            <input type="file">
            <div class="file-name"></div>
            <div class="file-btn">choose file</div>
          </label>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- SELECT SIMPLE -->
          <label>Select Item (text)</label>
          <div class="select">
            <select>
              <option value="">Placeholder</option>
              <option ng-repeat="state in states" ng-bind="state"></option>
            </select>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group"> <!-- SELECT CUSTOM -->
          <label>Select Item (image, title, description)</label>
          <div class="select-custom">
            <input type="hidden" ng-model="testSelect">
            <div ng-bind="testSelect ? testSelect : 'Placeholder'" ng-click="showOptions();"></div>
            <ul ng-show="listOptions">
              <li ng-repeat="option in options" ng-click="setOption(option); showOptions();">
                <img ng-src="http://fakeimg.pl/60x60/{{option.color}}/FFF/?text={{option.imgUrl}}&font=lobster" alt="">
                <div>
                  <span class="title" ng-bind="option.title"></span>
                  <span class="description" ng-bind="option.description"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group btn-left"> <!-- BUTTONS LEFT -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-right"> <!-- BUTTONS RIGHT -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-center"> <!-- BUTTONS CENTER -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-justify"> <!-- BUTTONS JUSTIFY -->
          <input type="reset"  value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

        <div class="group"><hr></div>

        <div class="group btn-fluid"> <!-- BUTTONS FLUID -->
          <input type="reset" value="reset">
          <input type="submit" value="submit">
          <input type="button" value="button">
        </div>

      </form>
    </div>
  </div>

</div>
