.block2 {
  background: #f0f0f2;}

.block2 article {
  font: 0/0 a;
  display: block;
  width: 100%;
  height: 299px;
  margin: 0 auto;}

@media (max-width: 999px) {
  .block2 article {height: auto;}
  .block2 article > div {
    float: none !important;
    height: auto;}}
@media (min-width: 1000px) {
  .block2 article {height: 299px;}}

@media (max-width: 999px) {
  .block2 article:first-child {padding: 15px;}
  .block2 article:last-child {padding: 15px;}}
@media (min-width: 1000px) {
  .block2 article:first-child {padding: 50px 0 30px 0;}
  .block2 article:last-child {padding: 30px 0 50px 0;}}

.block2 article > div {
  display: inline-block;
  vertical-align: top;}

.block2 .img {
  width: 390px;
  height: 219px;}

@media (max-width: 999px) {
  .block2 .img {
    width: 100%;
    height: auto;}}
@media (min-width: 1000px) {
  .block2 .img {
    width: 390px;
    height: 219px;}}

.block2 img {
  display: block;
  width: 100%;
  max-width: 390px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;}

.block2 .info {
  margin-top: 20px;}

@media (max-width: 999px) {
  .block2 .info {
    width: 100%;}}
@media (min-width: 1000px) {
  .block2 .info {
    width: 540px;}
  .block2 .left-to-right .info {margin-left: 30px;}
  .block2 .right-to-left .info {margin-right: 30px;}}

.block2 .title {
  font: 500 19px/22px 'Roboto';
  text-transform: uppercase;}

.block2 .desc {
  font: 400 14px/19px 'Roboto';
  text-align: justify;}

@media (max-width: 999px) {
  .block2 .title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;}
  .block2 .desc {
    font-size: 14px;
    line-height: 17px;
    text-align-last: center;}}

.block2 hr {
  height: 1px;
  margin: 10px 0;
  border: 0;
  background: #ddd;}
