.block1 {
  position: relative;
  width: 100%;
  background: url(../../../../img/bg/page1-1.jpg) no-repeat center top;
  background-size: cover;}

@media (max-width: 999px) {.block1 {min-height: 550px !important;}}

.block1 > .container {
  height: calc(100% - 130px);}

.block1 > .container .wrapper {
  position: relative;
  height: 100%;}

.block1 .mind {
  position: absolute;
  width: 100%;
  text-align: center;}

@media (max-width: 999px) {
  .block1 .mind {
    top: calc(50% - 25px);
    left: 0;
    padding: 20px;
    transform: translate(0, -50%);}}
@media (min-width: 1000px) {
  .block1 .mind {
    top: calc(50% - 45px);
    right: 50%;
    transform: translate(50%, -50%);}}

.block1 .mind .title {
  font: 500 40px/48px 'Rubik';
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);}

.block1 .mind .desc {
  margin-bottom: 10px;}

.block1 .mind .desc div {
  font: 500 16px/20px 'Rubik';
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);}

@media (max-width: 999px) {
  .block1 .mind .title {
    font-size: 26px;
    line-height: 29px;}
  .block1 .mind .desc div {
    font-size: 14px;
    line-height: 18px;}}
@media (max-width: 800px) {
  .block1 .mind .desc div {
    display: inline;}}

.block1 .mind form {
  font: 0/0 a;
  width: 100%;
  margin-bottom: 10px;}

.block1 .mind input {
  font: 400 13px 'Roboto';
  width: 200px;
  height: 36px;
  vertical-align: top;
  border-radius: 3px;}

@media (max-width: 999px) {
  .block1 .mind input {
    display: block;
    width: 80%;
    margin: 0 auto 10px auto !important;}}
@media (min-width: 1000px) {
  .block1 .mind input {
    display: inline-block;}}

.block1 .mind [type='text'] {
  margin-right: 10px;
  padding: 0 8px;
  color: #000;
  border: 2px solid #fff;
  background: #fff;}

.block1 .mind [type='submit'] {
  font-weight: 500;
  width: 126px;
  color: #fff;
  border: 0;
  background: #579eff;}

.block1 .mind [type='submit']:hover {
  background: #84c7ff;}

.block1 .mind input:focus::-webkit-input-placeholder {color: transparent;}
.block1 .mind input:focus::-moz-placeholder          {color: transparent;}
.block1 .mind input:focus:-moz-placeholder           {color: transparent;}
.block1 .mind input:focus:-ms-input-placeholder      {color: transparent;}

.block1 .mind input::-webkit-input-placeholder {color: #ccc;}
.block1 .mind input::-moz-placeholder          {color: #ccc;}
.block1 .mind input:-moz-placeholder           {color: #ccc;}
.block1 .mind input:-ms-input-placeholder      {color: #ccc;}

.block1 .mind .help a,
.block1 .mind .help span {
  font: italic 400 12px 'Rubik';
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);}

.block1 .mind .help a {
  color: #579eff;}

.block1 .mind .help a:hover {
  color: #84c7ff;}

.block1 .scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 30px;
  transform: translate(-50%, 0);}

.block1 .scroll svg,
.block1 .scroll svg path {
  fill: #fff;}

@media (max-width: 999px)  {.block1 .scroll {display: none;}}
@media (min-width: 1000px) {.block1 .scroll {display: block;}}
