.block4 {
  position: relative;
  padding: 20px 0;
  background: #f0f0f2;}

.block4 .benefit {
  font: 0/0 a;
  width: 100%;}

.block4 .benefit > div {
  display: inline-block;
  width: 288px;
  height: 240px;
  vertical-align: top;}

@media (max-width: 999px) {
  .block4 .benefit > div {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: transparent !important;}}
@media (min-width: 1000px) {
  .block4 .benefit > div {
    width: 288px;
    height: 240px;
    margin-right: 48px;
    background: url() no-repeat center center;}
  .block4 .benefit > div:last-of-type {
    margin: 0;}}

.knight1 {background-image: url(../../../../img/knight/grey/) !important;}
.knight2 {background-image: url(../../../../img/knight/grey/fighting.jpg) !important;}
.knight3 {background-image: url(../../../../img/knight/grey/kneeling.jpg) !important;}
.knight4 {background-image: url(../../../../img/knight/grey/lifting-visor.jpg) !important;}
.knight5 {background-image: url(../../../../img/knight/grey/pointing.jpg) !important;}
.knight6 {background-image: url(../../../../img/knight/grey/slashing.jpg) !important;}
.knight7 {background-image: url(../../../../img/knight/grey/striking.jpg) !important;}
.knight8 {background-image: url(../../../../img/knight/grey/superhero-stance.jpg) !important;}
.knight9 {background-image: url(../../../../img/knight/grey/with-horse.jpg) !important;}

.block4 .benefit .title,
.block4 .benefit .desc {
  width: 288px;
  margin: 0 auto;
  text-align: center;}

.block4 .benefit .title {
  font: 500 20px/23px 'Roboto';
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #579eff;}

.block4 .benefit .desc {
  font: 400 14px/16px 'Roboto';
  color: #222831;}

@media (max-width: 999px) {
  .block4 .benefit .title {
    margin-bottom: 5px;}
  .block4 .benefit .desc {
    text-align: justify;
    text-align-last: center;}}
