.block6 {background: #f0f0f2;}

.block6 .accredition {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;}

@media (max-width: 999px)  {.block6 .accredition {padding: 20px 20px;}}
@media (min-width: 1000px) {.block6 .accredition {padding: 20px 100px;}}

.block6 .accredition:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.block6 img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
  vertical-align: top;}

@media (max-width: 999px) {
  .block6 .accredition {text-align: center;}
  .block6 img {margin-bottom: 10px;}
  .block6 img:last-of-type {margin-bottom: 0;}}
@media (min-width: 1000px) {
  .block6 .accredition {text-align: justify;}}
