.block3 {
  position: relative;
  background: url(../../../../img/bg/page1-2.jpg) no-repeat center top, #f0f0f2;
  background-size: cover;}

@media (max-width: 999px)  {.block3 {padding: 20px 0;}}
@media (min-width: 1000px) {.block3 {padding: 70px 0;}}

.block3 .title {
  font: 400 40px/47px 'Rubik';
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .2);}

@media (max-width: 999px) {
  .block3 .title {
    font-size: 32px;
    padding: 0 20px;}}

.block3 .steps {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;}

.block3 .steps:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.block3 .steps div,
.block3 .steps div * {
  font: 0/0 a;
  display: inline-block;
  text-align: left;
  text-align-last: left;
  vertical-align: top;}

@media (max-width: 999px) {
  .block3 .steps > div {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;}
  .block3 .steps > div:last-of-type {
    margin: 0;}}
@media (min-width: 1000px) {
  .block3 .steps > div {
    width: 300px;}}

.block3 .steps img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #579eff;}

@media (max-width: 999px)  {.block3 .steps img {margin: 0;}}
@media (min-width: 1000px) {.block3 .steps img {margin-top: 11px;}}

.block3 .steps .text {
  margin-left: 10px;}

@media (max-width: 999px)  {.block3 .steps .text {width: calc(100% - 74px);}}
@media (min-width: 1000px) {.block3 .steps .text {width: 226px;}}

.block3 .steps .title,
.block3 .steps .desc {
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);}

.block3 .steps .title {
  font: 500 18px/25px 'Rubik';
  margin-bottom: 4px;
  padding: 0;}

.block3 .steps .desc {
  font: 400 14px/20px 'Rubik';}
