.block5 {
  position: relative;
  background: url(../../../../img/bg/page1-3.jpg) no-repeat center top, #f0f0f2;
  background-size: cover;}

@media (max-width: 999px)  {.block5 {padding: 20px 0;}}
@media (min-width: 1000px) {.block5 {padding: 70px 0;}}

.block5 .title {
  font: 400 40px/47px 'Rubik';
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .2);}

@media (max-width: 999px) {
  .block5 .title {
    font-size: 32px;
    padding: 0 20px;}}

.block5 article {
  font: 0/0 a;
  margin: 0 auto;}

@media (max-width: 999px)  {.block5 article {height: auto;}}
@media (min-width: 1000px) {.block5 article {height: 240px;}}

.block5 article > * {
  display: inline-block;
  vertical-align: top;}

.block5 .img {
  overflow: hidden;
  height: 240px;}

@media (max-width: 999px)  {.block5 .img {width: 100%;}}
@media (min-width: 1000px) {.block5 .img {width: 240px;}}

.block5 img {
  display: block;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);}

.block5 .machine {
  font: 0/0 a;}

@media (max-width: 999px) {
  .block5 .machine {
    width: 100%;
    height: auto;
    padding: 20px 20px 0 20px;}}
@media (min-width: 1000px) {
  .block5 .machine {
    width: 700px;
    height: 240px;
    margin-left: 20px;
    padding: 20px 0;}}

.block5 .machine > * {
  display: inline-block;}

.block5 .top {
  font: 0/0 a;
  width: 100%;
  margin-bottom: 20px;}

@media (max-width: 999px)  {.block5 .top {
  text-align: center;
  text-align-last: center;}}
@media (min-width: 1000px) {.block5 .top {
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;}}

.block5 .top:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.block5 .model,
.block5 .price {
  display: inline-block;
  vertical-align: top;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.block5 .model {
  font: 500 16px/22px 'Roboto';
  color: #fff;}

.block5 .price {
  font: 500 18px/22px 'Roboto';
  color: #579eff;}

@media (max-width: 999px) {.block5 .price {display: none;}}

.block5 .mid {
  font: 400 14px/20px 'Roboto';
  width: 100%;
  margin-bottom: 20px;
  text-align: justify;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

@media (max-width: 999px)  {.block5 .mid {height: auto;}}
@media (min-width: 1000px) {.block5 .mid {height: 98px;}}

.block5 .bot {
  font: 0/0 a;
  width: 100%;
  text-align: right;}

.block5 .bot span {
  font: 500 15px/35px 'Roboto';
  display: inline-block;
  width: 90px;
  height: 40px;
  cursor: pointer;
  transition: border .3s ease-in-out, background .3s ease-in-out;
  text-align: center;
  text-align-last: center;
  vertical-align: top;
  color: #fff;
  border: 3px solid #579eff;
  border-radius: 3px;
  background: transparent;}

.block5 .bot span {margin-right: 20px;}
.block5 .bot span:last-child {margin: 0;}

@media (max-width: 999px) {
  .block5 .bot {
    text-align: justify;
    text-align-last: justify;
    text-justify: newspaper;}
  .block5 .bot:after {
    display: inline-block;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';}}
@media (min-width: 1000px) {
  .block5 .bot {
    text-align: right;}}

.block5 .bot span:hover {
  border-color: #84c7ff;
  background: #84c7ff;}
