<div class="ws-page fixed" ng-controller="catalogCpap">

  <div ng-include="'app/views/modules/header1.html'" class="head1"></div>

  <div class="container">
    <div class="wrapper">

      <aside>
        <div class="filters">
          <div class="group slider" ng-repeat="r in range">
            <div class="title" ng-bind="r.name"></div>
            <slider floor="{{r.min}}"
                    ceiling="{{r.max}}"
                    ng-model-low="r.minCost"
                    ng-model-high="r.maxCost"></slider>
            <div class="price">
              <div class="pull-left"  ng-bind="'$' + r.minCost"></div>
              <div class="pull-right" ng-bind="'$' + r.maxCost"></div>
            </div>
          </div>

          <div class="group"><hr></div>

          <div class="group" animate="all-all" ng-repeat="filter in filters">
            <div class="switch" ng-repeat="switch in filter">
              <label>
                <span ng-bind="switch.title"></span>
                <input type="checkbox" ng-model="switch.model">
                <div><div></div></div>
              </label>
            </div>
          </div>
        </div>

        <div class="links">
          <a ng-repeat="link in links"
             ng-bind="link.bind"
             ng-attr-ui-sref="{{link.sref}}"></a>
        </div>
      </aside>

      <section>
        <input class="search" type="search" placeholder="search..." ng-model="search.name">
        <div class="machines">
          <div ng-repeat="machine in machines">
            <div class="rent" animate="all">Rent</div>
            <div class="img"><img ng-src="{{machine.imageUrl}}" alt="{{machine.name}}"></div>
            <div class="model" ng-bind="machine.name | characters:45"></div>
            <div class="refurbished" ng-bind="machine.refurbished ? 'Refurbished' : 'New'"></div>
            <div class="price" ng-bind="'$' + machine.pricePerMonth + ' / month'"></div>
          </div>
        </div>
      </section>

    </div>
  </div>

</div>










