/**
 * Grouping
 */

.group {
  font: 0/0 a;
  position: relative;}

.group {margin-bottom: 20px;}
.group:last-child {margin-bottom: 0;}

.group > label {
  font: normal 500 14px/16px 'Roboto';
  display: block;
  width: 100%;
  margin-bottom: 5px;}

/**
 * Separate
 */

.group hr {
  width: 100%;
  height: 1px;
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  background: #f0f0f2;}

/**
 * Input Text
 */

.group [type='text'],
.group [type='email'],
.group [type='search'],
.group [type='password'] {
  font: 400 14px 'Roboto';
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 10px;
  transition: border .3s ease-in-out;
  color: #222831;
  border: 2px solid #ddd;
  border-radius: 3px;
  background: #fff;
  appearance: none;}

.group [type='text']:hover,
.group [type='text']:focus,
.group [type='email']:hover,
.group [type='email']:focus,
.group [type='search']:hover,
.group [type='search']:focus,
.group [type='password']:hover,
.group [type='password']:focus {border-color: #579eff;}

.group [type='text']::-webkit-input-placeholder     {color: rgba(0, 0, 0, .25);}
.group [type='text']::-moz-placeholder              {color: rgba(0, 0, 0, .25);}
.group [type='text']:-moz-placeholder               {color: rgba(0, 0, 0, .25);}
.group [type='text']:-ms-input-placeholder          {color: rgba(0, 0, 0, .25);}
.group [type='email']::-webkit-input-placeholder    {color: rgba(0, 0, 0, .25);}
.group [type='email']::-moz-placeholder             {color: rgba(0, 0, 0, .25);}
.group [type='email']:-moz-placeholder              {color: rgba(0, 0, 0, .25);}
.group [type='email']:-ms-input-placeholder         {color: rgba(0, 0, 0, .25);}
.group [type='search']::-webkit-input-placeholder   {color: rgba(0, 0, 0, .25);}
.group [type='search']::-moz-placeholder            {color: rgba(0, 0, 0, .25);}
.group [type='search']:-moz-placeholder             {color: rgba(0, 0, 0, .25);}
.group [type='search']:-ms-input-placeholder        {color: rgba(0, 0, 0, .25);}
.group [type='password']::-webkit-input-placeholder {color: rgba(0, 0, 0, .25);}
.group [type='password']::-moz-placeholder          {color: rgba(0, 0, 0, .25);}
.group [type='password']:-moz-placeholder           {color: rgba(0, 0, 0, .25);}
.group [type='password']:-ms-input-placeholder      {color: rgba(0, 0, 0, .25);}

.group [type='text']:focus::-webkit-input-placeholder     {color: transparent;}
.group [type='text']:focus::-moz-placeholder              {color: transparent;}
.group [type='text']:focus:-moz-placeholder               {color: transparent;}
.group [type='text']:focus:-ms-input-placeholder          {color: transparent;}
.group [type='email']:focus::-webkit-input-placeholder    {color: transparent;}
.group [type='email']:focus::-moz-placeholder             {color: transparent;}
.group [type='email']:focus:-moz-placeholder              {color: transparent;}
.group [type='email']:focus:-ms-input-placeholder         {color: transparent;}
.group [type='search']:focus::-webkit-input-placeholder   {color: transparent;}
.group [type='search']:focus::-moz-placeholder            {color: transparent;}
.group [type='search']:focus:-moz-placeholder             {color: transparent;}
.group [type='search']:focus:-ms-input-placeholder        {color: transparent;}
.group [type='password']:focus::-webkit-input-placeholder {color: transparent;}
.group [type='password']:focus::-moz-placeholder          {color: transparent;}
.group [type='password']:focus:-moz-placeholder           {color: transparent;}
.group [type='password']:focus:-ms-input-placeholder      {color: transparent;}

/**
 * Input Text Area
 */

.group textarea {
  font: 400 14px 'Roboto';
  display: block;
  width: 100%;
  height: 120px;
  padding: 10px;
  resize: none;
  transition: border .3s ease-in-out;
  color: #222831;
  border: 2px solid #ddd;
  border-radius: 3px;
  background: #fff;
  appearance: none;}

.group textarea:hover,
.group textarea:focus {border-color: #579eff;}

.group textarea::-webkit-input-placeholder {color: rgba(0, 0, 0, .25);}
.group textarea::-moz-placeholder          {color: rgba(0, 0, 0, .25);}
.group textarea:-moz-placeholder           {color: rgba(0, 0, 0, .25);}
.group textarea:-ms-input-placeholder      {color: rgba(0, 0, 0, .25);}

.group textarea:focus::-webkit-input-placeholder {color: transparent}
.group textarea:focus::-moz-placeholder          {color: transparent}
.group textarea:focus:-moz-placeholder           {color: transparent}
.group textarea:focus:-ms-input-placeholder      {color: transparent}

/**
 * Checkbox & Radio buttons
 */

.group .check,
.group .radio {
  position: relative;
  display: block;
  height: 20px;}

.group .check-ver,
.group .radio-ver {display: block !important;}
.group .check-hor,
.group .radio-hor {display: inline-block !important;}

.group .check-ver,
.group .radio-ver {margin-bottom: 5px !important;}
.group .check-ver:last-child,
.group .radio-ver:last-child {margin-bottom: 0 !important;}

.group .check-hor,
.group .radio-hor {margin-right: 10px !important;}
.group .check-hor:last-child,
.group .radio-hor:last-child {margin-right: 0 !important;}

.group .check-center,
.group .radio-center {
  font: 0/0 a;
  display: block;
  width: 100%;
  height: 20px;
  text-align: center;}

.group .check-center > div,
.group .radio-center > div {
  display: inline-block;
  vertical-align: middle;}

.group .check-center input,
.group .radio-center input {margin-right: 10px !important;}
.group .check-center input:last-child,
.group .radio-center input:last-child {margin-right: 0 !important;}

.group .check label,
.group .radio label {
  font: 0/0 a;
  display: block;
  margin: 0;
  padding: 0;}

.group .check label *,
.group .radio label * {
  display: inline-block;
  vertical-align: middle;}

.group .check label input,
.group .radio label input {
  display: none;}

.group .check label div,
.group .radio label div {
  position: relative;
  width: 20px;
  height: 20px;
  transition: box-shadow .3s ease-in-out;
  border: 0;
  background: #fff;
  box-shadow: inset 0 0 0 2px #ddd;}

.group .check label div:before,
.group .radio label div:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  transition: height .2s linear, width .2s linear, background .2s linear;
  transform: translate(-50%, -50%);
  background: #fff;}

.group .radio label div,
.group .radio label div:before {
  border-radius: 50%;}

.group .check label span,
.group .radio label span {
  font: 400 14px/20px 'Roboto';
  margin-left: 5px;}

.group .check label input:hover + div,
.group .check label input:checked + div,
.group .radio label input:hover + div,
.group .radio label input:checked + div {
  box-shadow: inset 0 0 0 2px #579eff;}

.group .check label input:checked + div:before,
.group .radio label input:checked + div:before {
  width: 50%;
  height: 50%;
  background: #579eff;}

/**
 * Buttons
 */

.group [type='reset'],
.group [type='submit'],
.group [type='button'] {
  font: 700 14px/40px 'Roboto';
  display: inline-block;
  padding: 0 15px;
  transition: background .3s linear;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #579eff;}

.group [type='reset']:hover,
.group [type='reset']:focus,
.group [type='reset']:active,
.group [type='submit']:hover,
.group [type='submit']:focus,
.group [type='submit']:active,
.group [type='button']:hover,
.group [type='button']:focus,
.group [type='button']:active {background: #84c7ff;}

.group.btn-left,
.group.btn-right,
.group.btn-center,
.group.btn-justify {font: 0/0 a;}

.group.btn-left input,
.group.btn-right input,
.group.btn-center input {margin-right: 10px !important;}

.group.btn-left input:last-child,
.group.btn-right input:last-child,
.group.btn-center input:last-child {margin: 0 !important;}

.group.btn-left    {text-align: left !important;}
.group.btn-right   {text-align: right !important;}
.group.btn-center  {text-align: center !important;}
.group.btn-justify {
  text-align: justify !important;
  text-align-last: justify !important;
  text-justify: newspaper !important;}

.group.btn-justify:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.group.btn-justify * {
  display: inline-block;
  vertical-align: top;}

.group.btn-fluid {
  margin-bottom: -10px;}

.group.btn-fluid input {
  width: 100%;
  margin-bottom: 10px;}

/**
 * Select Simple
 */

.group .select {
  font: 400 14px 'Roboto';
  overflow: hidden;
  height: 34px;
  transition: border .3s ease-in-out;
  border: 2px solid #ddd;
  border-radius: 3px;
  background: url(../../svg/ui/drop-down.svg) no-repeat calc(100% - 10px) center;
  background-color: #fff;}

.group .select select {
  line-height: 100%;
  display: block;
  width: calc(100% + 80px);
  height: 100%;
  padding: 0 10px;
  border: 0;
  background: transparent;
  appearance: none;}

.group .select:hover,
.group .select:focus {
  border: 2px solid #579eff;}

/**
 * Select Custom
 */

.group .select-custom {
  font: 400 14px 'Roboto';
  position: relative;}

.group .select-custom > div {
  font: 400 14px/30px 'Roboto';
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 28px 0 10px;
  transition: border .3s ease-in-out;
  color: #222831;
  border: 2px solid #ddd;
  border-radius: 3px;
  background: url(../../svg/ui/drop-down.svg) no-repeat calc(100% - 10px) center, #fff;}

.group .select-custom > div:hover {
  border-color: #579eff;}

.group .select-custom ul {
  position: absolute;
  z-index: 800;
  top: 50px;
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 216px;
  border: 2px solid #ddd;
  border-radius: 3px;
  background: #fff;}

.group .select-custom ul,
.group .select-custom ul li {
  font: 0/0 a;
  transition: all .4s ease-in-out;}

.group .select-custom ul li {border-bottom: 2px solid #ddd;}
.group .select-custom ul li:last-child {border-bottom: none;}

.group .select-custom ul li {padding: 5px;}
.group .select-custom ul li:hover {padding-left: 25px;}

.group .select-custom ul li * {
  display: inline-block;
  vertical-align: middle;}

.group .select-custom ul li img {
  width: 60px;
  margin-right: 5px;}

.group .select-custom ul li div {
  width: calc(100% - 70px);}

.group .select-custom ul li span {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;}

.group .select-custom ul li .title {
  font: 500 15px 'Roboto';
  color: #222831;}

.group .select-custom ul li .description {
  font: 500 11px 'Roboto';
  color: #a9a9a9;}

/**
 * File Upload
 */

.group [type='file'] {
  font: 400 14px 'Roboto';}

.group .file {
  font: 0/0 a;
  overflow: hidden;
  width: 100%;
  height: 34px;}

.group .file:hover .file-name {
  border-color: #579eff;}

.group .file .file-btn,
.group .file .file-name {
  display: inline-block;
  vertical-align: top;}

.group .file [type='file'] {
  display: none;}

.group .file .file-btn {
  font: 700 14px/34px 'Roboto';
  width: 106px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #579eff;}

.group .file .file-name {
  font: 400 14px/30px 'Roboto';
  overflow: hidden;
  width: calc(100% - 106px);
  height: 34px;
  padding: 0 10px;
  transition: border .3s ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #222831;
  border: 2px solid #ddd;
  border-right: none;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #fff;}

/**
 * Validate
 */

div.error,
input.ng-invalid.ng-touched {
  transition: border .3s ease-in-out;
  border-color: #f44336 !important;}

.ng-submitted input.ng-invalid {
  transition: border .3s ease-in-out;
  border-color: #f44336 !important;}
