* {
  font-family: 'Roboto', sans-serif, Arial, Verdana;
  padding: 0;
  margin: 0;
  color: #222831;}

/**
 * Document settings
 */

html,
body {
  background: #f0f0f2;
  width: 100%;
  height: 100%;}

/**
 * For sticky footer
 */

.wrapper-table {
  display: table;
  width: 100%;
  height: 100%;}

.wrapper-table > .content {
  display: table-row;
  height: 100%;}

/**
 * Small stuff
 */

*,
*:after,
*:before {box-sizing: border-box;}

img,
button,
[type="reset"],
[type="submit"],
[type="button"],
[role='button'] {user-select: none;}

*,
*:hover,
*:focus,
*:active {outline: none !important;}

a,
a:hover,
a:focus {text-decoration: none;}

a {transition: all .3s;}

ul,
ol {list-style: none;}

/**
 * Landing page misc.
 */

.top-cut,
.bot-cut {
  width: 100%;
  height: 40px;
  position: absolute;
  background-size: cover;}

.top-cut {top: -1px;}
.bot-cut {bottom: -1px;}

.top-cut svg path,
.bot-cut svg path {fill: #f0f0f2;}

@media (max-width: 999px) {
  .top-cut,
  .bot-cut {display: none;}}

/**
 * Container
 */

.container {
  min-width: 320px;
  margin: 0 auto;}

.wrapper {
  position: relative;
  width: 100%;}

@media (max-width: 999px)  {.container {width: 100%;}}
@media (min-width: 1000px) {.container {width: 960px;}}

/**
 * Show & Hide
 */

.show-lg,
.show-md,
.show-inline-lg,
.show-inline-md {display: none !important;}

@media (max-width: 999px) {
  .hide-md {display: none !important;}
  .show-md {display: block !important;}
  .show-inline-md {display: inline-block !important;}}

@media (min-width: 1000px) {
  .hide-lg {display: none !important;}
  .show-lg {display: block !important;}
  .show-inline-lg {display: inline-block !important;}}
