/**
 * Hide or Show (quick use)
 */

.hide {display: none !important;}
.show {display: block !important;}

/**
 * Float
 */

.pull-right {float: right !important;}
.pull-left  {float: left !important;}

/**
 * Animation
 */

[animate='all'] {transition: all .3s ease-in-out;}
[animate='border'] {transition: border .3s ease-in-out;}
[animate='background'] {transition: background .3s ease-in-out;}

[animate='all-all'],
[animate='all-all'] * {
  transition: all .3s ease-in-out;}

[animate='border-all'],
[animate='border-all'] * {
  transition: border .3s ease-in-out;}

[animate='background-all'],
[animate='background-all'] * {
  transition: background .3s ease-in-out;}

/**
 * Colors Style Guide
 */

.color-900 {color: #222831;}
.color-800 {color: #393e46;}
.color-400 {color: #ddd;}
.color-300 {color: #f0f0f2;}

.color-pri-500 {color: #579eff;}
.color-pri-400 {color: #84c7ff;}
.color-pri-300 {color: #8dc6ff;}
.color-pri-200 {color: #e4f1fe;}

.color-sec-500 {color: #fe7847;}
.color-sec-400 {color: #f98b60;}
.color-sec-300 {color: #ffc057;}
.color-sec-200 {color: #ffe084;}

.color-error   {color: #f44336;}
.color-success {color: #62b965;}
.color-warning {color: #fdd835;}

/**
 * Typography
 */

.text-light  {font-weight: 300;}
.text-medium {font-weight: 500;}
.text-bold   {font-weight: 700;}

.text-italic {font-style: italic;}
.text-normal {font-style: normal;}

.text-left    {text-align: left;}
.text-right   {text-align: right;}
.text-center  {text-align: center;}
.text-justify {text-align: justify;}

.text-lowercase  {text-transform: lowercase;}
.text-uppercase  {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

/**
 * ClearFix
 */

.clearfix:after,
.clearfix:before,
.container:after,
.container:before {
  display: table;
  content: " ";}

.clearfix:after,
.container:after {clear: both;}

/**
 * Other misc. selector
 */

a,
label,
button,
[type='reset'],
[type='submit'],
[type='button'],
[role='button'] {cursor: pointer;}
