/**
 * Wrapper
 */

@media (max-width: 999px) {
  .sleep-test-info .wrapper {
    padding-right: 20px !important;
    padding-left: 20px !important;}}

/**
 * Header
 */

.sleep-test-header {
  margin-bottom: 20px;
  background: url(../../../../img/bg/page5-1.jpg) no-repeat center top;
  background-size: cover;}

.sleep-test-header .wrapper {
  padding: 80px 0;
  text-align: center;}

.sleep-test-header .title {
  font: 400 24px/28px 'Roboto';
  margin-bottom: 20px;
  text-align: center;
  color: #fff;}

.sleep-test-header .desc {
  font: 400 14px/16px 'Roboto';
  margin-bottom: 20px;
  text-align: center;
  color: #fff;}

.sleep-test-header a {
  font: 500 14px/16px 'Roboto';
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #579eff;}

.sleep-test-header a:hover {
  background: #84c7ff;}

/**
 * Body
 */

@media (max-width: 999px) {.sleep-test-body .container {width: 100%;}}
@media (min-width: 1000px) {.sleep-test-body .container {width: 780px;}}

.sleep-test-body .text {
  font: 400 14px/16px 'Roboto';
  margin-bottom: 20px;
  text-align: justify;}

.sleep-test-body .title {
  font: 500 17px/20px 'Roboto';
  margin-bottom: 10px;
  text-align: center;}

.sleep-test-body hr {
  height: 1px;
  margin-bottom: 20px;
  border: 0;
  background: #ddd;}

.sleep-test-body .steps {
  margin-bottom: 20px;}

.sleep-test-body .step {
  font: 0/0 a;
  position: relative;}

@media (max-width: 999px) {
  .sleep-test-body .step {
    height: auto;
    margin-bottom: 30px;}}

@media (min-width: 1000px) {
  .sleep-test-body .step {
    height: 98px;
    margin-bottom: 20px;}}

.sleep-test-body .step > * {
  display: inline-block;
  vertical-align: top;}

.sleep-test-body .step img {
  width: 98px;
  margin-right: 15px;
  border-radius: 50%;}

@media (max-width: 999px) {
  .sleep-test-body .step .info {
    width: calc(100% - 113px);}}

@media (min-width: 1000px) {
  .sleep-test-body .step .info {
    position: absolute;
    bottom: 50%;
    left: 113px;
    width: calc(100% - 113px);
    transform: translate(0, 50%);}}

.sleep-test-body .step .info div {
  font: 400 14px/16px 'Roboto';}

@media (max-width: 999px) {
  .sleep-test-body .container {
    width: 100%;
    text-align: justify;}}

@media (min-width: 1000px) {
  .sleep-test-body .container {
    width: 780px;
    text-align: left;}}

.sleep-test-body .step .info .step-title {
  margin-bottom: 10px;}

/**
 * Footer
 */

.sleep-test-footer {
  background: #222831;}

.sleep-test-footer .wrapper {
  padding: 30px 0;
  text-align: center;}

.sleep-test-footer .title {
  font: 500 20px/24px 'Roboto';
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;}

.sleep-test-footer .desc {
  font: 400 14px/16px 'Roboto';
  margin-bottom: 20px;
  text-align: center;
  color: #fff;}

.sleep-test-footer a {
  font: 500 14px/16px 'Roboto';
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #579eff;}

.sleep-test-footer a:hover {
  background: #84c7ff;}
