/**
 * Search
 */

.ws-page section .search {
  font: 400 14px/normal 'Roboto';
  width: 100%;
  height: 40px;
  padding: 0 10px 0 37px;
  border: 0;
  background: url('../../../../svg/icons/search.svg') no-repeat 12px center/16px, #fff;}

/**
 * Machines
 */

.ws-page section .machines {
  font: 0/0 a;
  position: relative;
  margin: 0 -20px 0 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;}

.ws-page section .machines > div {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 240px;
  margin: 0 20px 20px 0;
  cursor: pointer;
  vertical-align: top;
  border-radius: 5px 5px 3px 3px;
  background: #393e46;
  box-shadow: 0 0 7px rgba(0, 0, 0, .05);}

.ws-page section .machines .rent {
  font: 500 24px/157px 'Rubik';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 220px;
  height: 157px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  border-radius: 3px 3px 0 0;
  background: rgba(57, 62, 70, .85);}

.ws-page section .machines > div:hover .rent {
  opacity: 1;}

.ws-page section .machines .img {
  overflow: hidden;
  width: 220px;
  height: 157px;
  border-radius: 3px 3px 0 0;
  background: #fff;}

.ws-page section .machines img {
  display: block;
  width: 157px;
  height: 157px;
  margin: 0 auto;
  background: #fff;}

.ws-page section .machines .model {
  font: 500 14px/16px 'Roboto';
  position: absolute;
  top: 167px;
  left: 10px;
  width: 200px;
  text-align: left;
  color: #fff;}

.ws-page section .machines .refurbished,
.ws-page section .machines .price {
  font: 500 13px/13px 'Roboto';
  position: absolute;
  bottom: 10px;}

.ws-page section .machines .refurbished {
  left: 10px;
  color: #fff;}

.ws-page section .machines .price {
  right: 10px;
  color: #579eff;}
