<div class="sleep-test-info" ng-controller="sleepTestInfo">

  <div ng-include="'app/views/modules/header1.html'" class="head1"></div>

  <div class="sleep-test-header">
    <div class="container">
      <div class="wrapper">
        <div class="title">Are you one of the millions of Americans with undiagnosed sleep apnea?</div>
        <div class="desc">The only way to know for sure is through a home sleep test.</div>
        <a role="button">get your home sleep test</a>
      </div>
    </div>
  </div>

  <div class="sleep-test-body">
    <div class="container">
      <div class="wrapper">
        <div class="text" ng-bind="content.bind1"></div>
        <div class="text" ng-bind="content.bind2"></div>
        <hr>
        <div class="title" ng-bind="content.title1"></div>
        <div class="text" ng-bind="content.bind3"></div>

        <div class="step" ng-repeat="step in steps">
          <img ng-src="content/img/sleep-test/{{step.imgUrl}}" alt="">
          <div class="info">
            <div class="step-title" ng-bind="step.title"></div>
            <div class="step-desc" ng-bind="step.desc"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="sleep-test-footer">
    <div class="container">
      <div class="wrapper">
        <div class="title">think you might be at risk but not sure?</div>
        <div class="desc">Take our online Screening Test here!</div>
        <a role="button">take our test</a>
      </div>
    </div>
  </div>
</div>

















