.footer {
  width: 100%;
  background: #393e46;}

@media (max-width: 999px)  {.footer .footer-wrapper {padding: 20px;}}
@media (min-width: 1000px) {.footer .footer-wrapper {padding: 30px 0;}}

@media (max-width: 899px) {
  .footer .footer-wrapper > * {margin-bottom: 20px !important;}
  .footer .footer-wrapper > *:last-child {margin-bottom: 0 !important;}}

/**
 * Justify blocks
 */

.footer .footer-wrapper {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;}

.footer .footer-wrapper:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.footer .footer-wrapper > * {
  font: 400 14px/16px 'Roboto';
  display: inline-block;
  text-align: left;
  text-align-last: left;
  vertical-align: top;}

/**
 * Footer information blocks (about us, links)
 */

@media (max-width: 459px) {.footer .about {width: 100%;}}
@media (min-width: 460px) {.footer .about {width: 55%;}}

.footer .title,
.footer .about-us,
.footer .copyright,
.footer .links a {
  display: block;
  color: #eee}

.footer .about-us,
.footer .links a {
  opacity: .7;}

.footer .title {
  font: 500 16px/19px 'Roboto';
  margin-bottom: 10px;
  text-transform: uppercase;}

.footer .about-us {
  font: 500 12px/14px 'Roboto';
  margin-bottom: 20px;
  text-align: justify;}

.footer .copyright {
  font: 500 14px/16px 'Roboto';}

.footer .links a {
  font: 500 12px/14px 'Roboto';
  margin-bottom: 5px;
  text-transform: capitalize;}

.footer .links a:hover {
  color: #579eff;}

@media (max-width: 459px) {
  .footer .title {
    font-size: 15px;
    line-height: 18px;}
  .footer .about-us {
    font-size: 11px;
    line-height: 13px;}
  .footer .copyright {
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    text-align-last: center;}
  .hide-footer {
    display: none !important;}}

/**
 * Footer form
 */

@media (max-width: 899px) {.footer form {width: 100%;}}
@media (min-width: 900px) {.footer form {width: 200px;}}

.footer input {margin: 0 0 10px 0;}
.footer input:last-child {margin: 0;}

.footer input {
  display: block;
  height: 36px;
  border-radius: 3px;}

@media (max-width: 899px) {.footer input {width: 100%;}}
@media (min-width: 900px) {.footer input {width: 200px;}}

.footer [type='text'] {
  font: 400 13px 'Roboto';
  padding: 0 8px;
  color: #eee;
  border: 2px solid #222831;
  background: #222831;}

.footer [type='submit'] {
  font: 500 14px 'Roboto';
  transition: background .3s ease-in-out;
  text-align: center;
  text-align-last: center;
  color: #fff;
  border: 0;
  background: #579eff;}

.footer [type='submit']:hover {
  background: #84c7ff;}

.footer input:focus::-webkit-input-placeholder {color: transparent}
.footer input:focus::-moz-placeholder          {color: transparent}
.footer input:focus:-moz-placeholder           {color: transparent}
.footer input:focus:-ms-input-placeholder      {color: transparent}

.footer input::-webkit-input-placeholder {color: #393e46;}
.footer input::-moz-placeholder          {color: #393e46;}
.footer input:-moz-placeholder           {color: #393e46;}
.footer input:-ms-input-placeholder      {color: #393e46;}
