.header {
  position: relative;
  width: 100%;
  height: 90px;}

.head1 .header {background: #393E46;}
.head2 .header {background: transparent;}

@media (max-width: 999px)  {.header .header-wrapper {padding: 10px 20px;}}
@media (min-width: 1000px) {.header .header-wrapper {padding: 10px 0;}}

.header .logotype {
  width: 123px;
  height: 70px;}

.header svg,
.header svg path {
  fill: #fff;}

.header nav {
  font: 0/0 a;
  padding: 26px 0;}

.header nav > * {
  font: 500 12px/19px 'Roboto';
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;}

/**
 * Header (large screen)
 */

.header .phone {
  position: relative;
  height: 19px;
  vertical-align: middle;}

.header .phone,
.header .phone * {
  transition: all .3s ease-in-out;}

.header .phone-icon {
  line-height: normal;
  height: 19px;}

.header .phone-icon svg,
.header .phone-icon svg path {fill: #fff;}
.header .phone-icon:hover svg,
.header .phone-icon:hover svg path {fill: #579eff;}

.header .phone-popup {
  font: 500 13px/12px 'Roboto';
  position: absolute;
  top: 50%;
  right: 26px;
  padding: 12px;
  transform: translate(0, -50%);
  white-space: nowrap;
  opacity: 0;
  color: #000;
  border-radius: 4px;
  background: #fff;}

.header .phone-icon:hover + .phone-popup {opacity: 1;}
.header a {margin-bottom: -2px;}
.header a:hover {color: #579eff;}

.header .separate {
  width: 4px;
  height: 4px;
  margin: 0 7px;
  cursor: default;
  opacity: .5;
  border-radius: 50%;
  background: #fff;}

/**
 * Header for small Screens
 */

.header .show-md {
  font: 0/0 a;
  padding: 26px 0;
  color: #fff;}

.header .show-md span {
  font: 500 16px/19px 'Roboto';
  display: inline-block;
  height: 19px;
  margin-left: 5px;
  vertical-align: middle;
  color: #fff;}

.header .show-md div:hover span {
  color: #579eff;}

.header .show-md span svg,
.header .show-md span svg path {fill: #fff;}
.header .show-md div:hover span svg,
.header .show-md div:hover span svg path {fill: #579eff;}

.header .show-md span,
.header .show-md span svg,
.header .show-md span svg path {
  transition: all .3s ease-in-out;}

/**
 * Fixed popup nav
 */

.header .menu-fixed-dark {
  position: fixed;
  z-index: 898;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 62, 70, .7);}

.header .menu-fixed {
  position: fixed;
  z-index: 899;
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  background: #222831;}

.header .menu-fixed-cross {
  position: fixed;
  z-index: 899;
  top: 20px;
  right: 260px;
  width: 40px;
  height: 40px;}

.header .menu-fixed-cross svg,
.header .menu-fixed-cross svg path {fill: #fff;}
.header .menu-fixed-cross:hover svg,
.header .menu-fixed-cross:hover svg path {fill: #579eff;}

.header .menu-fixed-cross svg,
.header .menu-fixed-cross svg path {
  transition: all .3s ease-in-out;}

.header .menu-fixed div {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100%;}

.header .menu-fixed ul {
  display: block;
  margin: 30px;
  padding: 0;}

.header .menu-fixed ul * {
  width: 100%;
  color: #fff;}

.header .menu-fixed ul > * {
  margin-bottom: 7px;}

.header .menu-fixed ul a {
  font: 500 16px 'Roboto';
  text-align: left;
  text-transform: uppercase;
  color: #fff;}

.header .menu-fixed ul a:hover {
  color: #579eff;}

.header .menu-fixed ul hr {
  height: 1px;
  margin: 15px 0;
  border: 0;
  background: rgba(255, 255, 255, .15);}

.header .menu-fixed ul .phone-nubmer {
  font: 500 20px 'Roboto';
  text-align: center;
  text-decoration: none !important;}

/**
 * Header with back button and logo
 */

@media (max-width: 999px)  {.header.head-back .logotype {float: right;}}
@media (min-width: 1000px) {.header.head-back .logotype {margin: 0 auto;}}

.header.head-back .back-link {
  font: 0/0 a;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #fff;}

.header.head-back .back-link span {
  font: 500 16px/19px 'Roboto';
  display: inline-block;
  height: 19px;
  margin-right: 3px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;}

.header.head-back .back-link:hover span {
  color: #579eff;}

.header.head-back .back-link span svg,
.header.head-back .back-link span svg path {fill: #fff;}
.header.head-back .back-link div:hover span svg,
.header.head-back .back-link div:hover span svg path {fill: #579eff;}

.header.head-back .back-link span,
.header.head-back .back-link span svg,
.header.head-back .back-link span svg path {
  transition: all .3s ease-in-out;}

/**
 * Header with logo (center)
 */

.header.head-logo .logotype {
  margin: 0 auto;}

/**
 * Header block
 */

.header-block {
  background: url() no-repeat center top;
  background-size: cover;}

.header-block .title,
.header-block .description {
  margin: 0 auto;
  padding: 10px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .05);}

.header-block .title {
  font: 500 42px/60px 'Rubik';}

.header-block .description {
  font: 500 14px/16px 'Rubik';
  width: 300px;}
