/**
 * Background Blackout
 */

.blackout {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0,0,0,.7);}

/**
 * Window Popup
 */

.window {
  z-index: 1000;
  box-shadow: 0 0 135px 5px rgba(0,0,0,.8);
  padding: 30px;
  background: #fff;}

@media (max-height: 649px) {
  .window {
    position: static;
    overflow-y: scroll;
    width: 100%;
    height: auto;
    max-height: 100%;}}
@media (min-height: 650px) {
  .window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    height: auto;
    transform: translate(-50%, -50%);}}

/**
 * Windws Title (top text)
 */

.window .title {
  font: 500 20px/23px 'Roboto';
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;}

/**
 * Status Text (error message)
 */

.window .status {
  font: 500 12px/20px 'Roboto';
  margin-bottom: 20px;
  text-align: center;}

/**
 * Message Text
 */

.window .message {
  font: 400 12px/17px 'Roboto';
  margin-bottom: 20px;
  text-align: justify;
  text-align-last: center;}

/**
 * Data List (title and description)
 */

.window .data-list {margin-bottom: 20px;}
.window .data-list div {margin-bottom: 7px;}

.window .data-list .title {
  font: 500 13px/16px 'Roboto';
  margin-bottom: 5px;
  text-align: left;
  text-transform: none;}

.window .data-list .description {
  font: 400 13px/16px 'Roboto';
  text-align: left;}
