.billing .header-block {
  background-image: url(../../../../img/bg/page1-2.jpg);}

/**
 * Form
 */

.billing form {
  width: 300px;
  margin: 20px auto;}

.billing .group {margin-bottom: 10px;}
.billing .group:last-child {margin-bottom: 0;}

/**
 * Separate
 */

.billing hr {
  margin: 20px 0 !important;
  background: rgba(0, 0, 0, .1);}

/**
 * Title
 */

.billing .group.title {
  font: 600 22px/20px 'Roboto';
  margin-bottom: 20px;
  text-align: center;
  color: #5f6468;}

/**
 * Multi input / select lines
 */

.billing .first-name,
.billing .last-name,
.billing .state,
.billing .zip,
.billing .month,
.billing .year,
.billing .cvv {
  display: inline-block;
  margin: 0;
  vertical-align: top;}

.billing .last-name,
.billing .zip,
.billing .year,
.billing .cvv {margin-left: 2%;}

.billing .first-name,
.billing .last-name {width: 49%;}

.billing .state {width: 69%;}
.billing .zip {width: 29%;}
.billing .month {width: 35%;}
.billing .year {width: 35%;}
.billing .cvv {width: 26%;}

/**
 * Result table
 */

.billing .result {
  width: 270px;
  margin: 0 auto;}

.billing .result div {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;}

.billing .result div:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.billing .result span {
  font: 400 14px/20px 'Roboto';
  display: inline-block;
  text-align: left;
  text-align-last: left;
  vertical-align: top;
  color: #5f6468;}

/**
 * Purchase info block
 */

.billing .purchase-info {
  font: 400 12px/17px 'Roboto';
  text-align: center;}
