.thanks .header-block {
  background-image: url(../../../../img/bg/page1-2.jpg);}

.thanks .wrapper {
  width: 300px;
  margin: 0 auto;}

/**
 * Separate
 */

.thanks .group hr {
  margin: 20px 0 !important;
  background: rgba(0, 0, 0, .1);}

/**
 * Table Title
 */

.thanks .title {
  font: 500 22px/24px 'Roboto';
  margin: 20px 0;
  text-align: center;}

/**
 * Table Lines
 */

.thanks .line {
  font: 0/0 a;
  margin: 5px auto;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;}

.thanks .line:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.thanks span {
  font: 400 14px/20px 'Roboto';
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;}

.thanks .left {
  width: 116px;
  text-align: left;
  text-align-last: left;}

.thanks .right {
  width: 180px;
  text-align: right;
  text-align-last: right;}
