.rent-catalog .header-block {
  background-image: url(../../../../img/bg/page2-1.jpg);}

@media (max-width: 999px)  {.rent-catalog .header-block {margin-bottom: 35px;}}
@media (min-width: 1000px) {.rent-catalog .header-block {margin-bottom: 55px;}}

/**
 * Header preview images
 */

.rent-catalog .preview {
  font: 0/0 a;
  position: relative;
  text-align: center;}

@media (max-width: 999px) {
  .rent-catalog .preview-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 180px;}}
@media (min-width: 1000px) {
  .rent-catalog .preview-wrapper {
    position: relative;
    width: 100%;
    height: auto;}}

@media (max-width: 999px)  {.rent-catalog .preview {height: 115px;}}
@media (min-width: 1000px) {.rent-catalog .preview {height: 145px;}}

.rent-catalog .preview img {
  position: relative;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, .15);}

@media (max-width: 999px) {
  .rent-catalog .preview img {
    position: absolute;
    width: 160px;
    height: 160px;
    transition: right .5s ease-in-out, transform .5s ease-in-out;}}
@media (min-width: 1000px) {
  .rent-catalog .preview img {
    width: 200px;
    height: 200px;
    margin: 0 60px;}}

@media (max-width: 999px) {
  .preview img.enabled {
    right: 50%;
    transform: translateX(50%);}
  .preview img.disabled-left {
    right: 120%;
    transform: translateX(0);}
  .preview img.disabled-right {
    right: -120%;
    transform: translateX(0);}}

/**
 * Machien preview slide buttons
 */

@media (max-width: 999px) {
  .left-btn,
  .right-btn {display: block;}}
@media (min-width: 1000px) {
  .left-btn,
  .right-btn {display: none;}}

.left-btn,
.right-btn {
  position: absolute;
  z-index: 10;
  bottom: -35px;
  margin: -10px 40px;
  padding: 10px;}

.left-btn {left: 0;}
.right-btn {right: 0;}

.left-btn.disable,
.right-btn.disable {display: none;}

.left-btn path,
.right-btn path {fill: #579eff;}

/**
 * Machine
 */

.rent-catalog .wrapper {
  font: 0/0 a;
  text-align: center;}

.rent-catalog .machine {
  display: inline-block;
  vertical-align: top;}

@media (max-width: 999px)  {.rent-catalog .machine.hide-machine {display: none;}}
@media (min-width: 1000px) {.rent-catalog .machine.hide-machine {display: inline-block;}}

.rent-catalog .machine > * {margin-bottom: 20px;}
.rent-catalog .machine > *:last-child {margin-bottom: 0;}

@media (max-width: 999px) {
  .rent-catalog .machine {
    width: 280px;
    margin: 20px 0;}}
@media (min-width: 1000px) {
  .rent-catalog .machine {
    width: 280px;
    margin: 20px;}}

/**
 * Machine separate
 */

.rent-catalog .machine hr {
  width: 100%;
  height: 1px;
  margin: 20px 0 !important;
  padding: 0 !important;
  border: 0;
  background: rgba(0, 0, 0, .1);}

/**
 * Machine title
 */

.rent-catalog .machine .title {
  font: 600 28px/40px 'Roboto';
  text-align: center;
  text-transform: uppercase;}

@media (max-width: 999px)  {.rent-catalog .machine .title {font-size: 23px;}}
@media (min-width: 1000px) {.rent-catalog .machine .title {font-size: 28px;}}

/**
 * Machine info (price, shps etc.)
 */

.rent-catalog .machine .info {
  position: relative;
  width: 100%;
  height: 28px;}

.rent-catalog .machine .info .every,
.rent-catalog .machine .info .ships {
  position: absolute;
  top: 0;}

.rent-catalog .machine .info .every {
  left: 33px;
  transform: translate(-50%, 0);}

.rent-catalog .machine .info .ships {
  right: 33px;
  transform: translate(50%, 0);}

.rent-catalog .machine .info .every div,
.rent-catalog .machine .info .ships div {
  font: 600 12px/14px 'Roboto';
  text-align: center;
  text-transform: uppercase;
  color: #bbb;}

.rent-catalog .machine .info .price {
  font: 600 24px/28px 'Roboto';
  text-align: center;
  text-transform: uppercase;
  color: #579eff;}

/**
 * Machine select button
 */

.rent-catalog .machine .select-btn {
  position: relative;
  width: 100%;
  height: 45px;
  text-align: center;}

.rent-catalog .machine .select-btn:after {
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  opacity: .1;
  background: #000;}

.rent-catalog .machine .select-btn a {
  font: 500 18px/45px 'Roboto';
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #579eff;
  box-shadow: 20px 0 0 #f0f0f2, -20px 0 0 #f0f0f2;}

.rent-catalog .machine .select-btn a:hover {
  padding: 0 40px;
  background: #84c7ff;
  box-shadow: 10px 0 0 #f0f0f2, -10px 0 0 #f0f0f2;}

/**
 * Machine description
 */

.rent-catalog .machine .desc {
  font: 500 14px/20px 'Roboto';
  text-align: center;
  color: #aaa;}

@media (max-width: 999px)  {.rent-catalog .machine .desc {height: auto;}}
@media (min-width: 1000px) {.rent-catalog .machine .desc {height: 100px;}}

/**
 * Machine list
 */

.rent-catalog .machine ul {
  text-align: center;}

.rent-catalog .machine li,
.rent-catalog .machine li:before {
  font: 500 14px/14px 'Roboto';
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #aaa;}

.rent-catalog .machine li:before {
  font: 500 18px/14px 'Roboto';
  margin-right: 2px;
  content: '✓';
  color: #579eff;}

/**
 * Machine more
 */

.rent-catalog .machine .more {
  font: 500 16px/23px 'Rubik';
  display: block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #579eff;}

.rent-catalog .machine .more:hover {
  color: #84c7ff;}
