.rent-machine .header-block {
  margin-bottom: 105px;
  background-image: url(../../../../img/bg/page2-1.jpg);}

/**
 * Header preview images (header)
 */

.rent-machine .header-block .preview {
  font: 0/0 a;
  position: relative;
  text-align: center;}

@media (max-width: 999px) {.rent-machine .header-block .preview {height: 115px;}}
@media (min-width: 1000px) {.rent-machine .header-block .preview {height: 175px;}}

.rent-machine .header-block .preview img {
  position: relative;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, .15);}

@media (max-width: 999px) {
  .rent-machine .header-block .preview img {
    width: 200px;
    height: 200px;}}
@media (min-width: 1000px) {
  .rent-machine .header-block .preview img {
    width: 260px;
    height: 260px;}}

/**
 * Wrapper
 */

.rent-machine .wrapper {
  margin-bottom: 20px;}

@media (max-width: 999px) {.rent-machine .wrapper {padding: 0 20px;}}

/**
 * Machine title
 */

.rent-machine .wrapper-info .title {
  font: 600 28px/40px 'Roboto';
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;}

@media (max-width: 999px) {
  .rent-machine .wrapper-info .title {
    font-size: 23px;}}
@media (min-width: 1000px) {
  .rent-machine .wrapper-info .title {
    font-size: 28px;}}

/**
 * Machine info (cost, price, period)
 */

.rent-machine .wrapper-info .info {
  position: relative;
  width: 280px;
  height: 28px;
  margin: 0 auto 20px auto;}

.rent-machine .wrapper-info .info div {
  font: 600 12px/28px 'Roboto';
  text-align: center;
  text-transform: uppercase;}

.rent-machine .wrapper-info .info .cost,
.rent-machine .wrapper-info .info .period {
  position: absolute;
  top: 0;
  color: #bbb;}

.rent-machine .wrapper-info .info .cost {left: 0;}
.rent-machine .wrapper-info .info .period {right: 0;}

.rent-machine .wrapper-info .info .price {
  font-size: 24px;
  color: #579eff;}

/**
 * Machine select button
 */

.rent-machine .wrapper-info .select-btn {
  position: relative;
  width: 100%;
  height: 45px;
  text-align: center;}

.rent-machine .wrapper-info .select-btn:after {
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  opacity: .1;
  background: #000;}

.rent-machine .wrapper-info .select-btn a {
  font: 500 18px/45px 'Roboto';
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #579eff;
  box-shadow: 20px 0 0 #f0f0f2, -20px 0 0 #f0f0f2;}

.rent-machine .wrapper-info .select-btn a:hover {
  padding: 0 40px;
  background: #84c7ff;
  box-shadow: 10px 0 0 #f0f0f2, -10px 0 0 #f0f0f2;}

/**
 * Process block
 */

.rent-machine .process {
  position: relative;
  padding: 20px 0;
  background: url(../../../../img/bg/page2-2.jpg) no-repeat center top, #f0f0f2;
  background-size: cover;}

.rent-machine .process .wrapper {
  margin: 0;}

/**
 * Process title
 */

.rent-machine .process {
  margin-bottom: 20px;}

.rent-machine .process .title {
  font: 400 40px 'Rubik';
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .2);}

@media (max-width: 999px) {
  .rent-machine .process .title {
    font-size: 32px;}}

/**
 * Process steps
 */

.rent-machine .process .steps {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;}

.rent-machine .process .steps:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';}

.rent-machine .process .steps * {
  display: inline-block;
  text-align: left;
  text-align-last: left;
  vertical-align: top;}

.rent-machine .process .step {
  width: 300px;}

@media (max-width: 999px) {
  .rent-machine .process .step {
    width: 100%;
    margin-bottom: 20px;}
  .rent-machine .process .step:last-of-type {
    margin: 0;}}

.rent-machine .process img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #579eff;}

.rent-machine .process .desc {
  font: 400 14px/20px 'Rubik';
  margin-left: 10px;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);}

@media (max-width: 999px) {
  .rent-machine .process .desc {
    width: calc(100% - 74px);}}
@media (min-width: 1000px) {
  .rent-machine .process .desc {
    width: 226px;}}

/**
 * Description
 */

.rent-machine .wrapper-desc {
  margin-bottom: 0;}

.rent-machine .wrapper-desc p {
  margin-bottom: 20px;
  text-align: justify;}

.rent-machine .wrapper-desc span {
  font: 400 15px/22px 'Roboto';
  color: #5f6468;}

.rent-machine .wrapper-desc .article {
  font-weight: 600;
  text-transform: uppercase;}

/**
 * Catalog division
 */

.rent-machine .wrapper-catalog .division {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;}

.rent-machine .wrapper-catalog .division div {
  font: 600 15px/30px 'Roboto';
  position: relative;
  z-index: 100;
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #5f6468;
  background: #f0f0f2;
  box-shadow: -20px 0 0 #f0f0f2, 20px 0 0 #f0f0f2;}

.rent-machine .wrapper-catalog .division:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  opacity: .1;
  background: #000;}

/**
 * Catalog machines
 */

@media (max-width: 519px) {
  .rent-machine .wrapper-catalog .machines-section {
    width: 240px;
    margin: 0 auto;}}
@media (min-width: 520px) and (max-width: 759px) {
  .rent-machine .wrapper-catalog .machines-section {
    width: 480px;
    margin: 0 auto;}}
@media (min-width: 760px) and (max-width: 999px) {
  .rent-machine .wrapper-catalog .machines-section {
    width: 720px;
    margin: 0 auto;}}
@media (min-width: 1000px) {
  .rent-machine .wrapper-catalog .machines-section {
    width: 100%;
    margin: 0 auto;}}

.rent-machine .wrapper-catalog .machines {
  font: 0/0 a;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto -20px auto;}

.rent-machine .wrapper-catalog .machines > div {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 240px;
  cursor: pointer;
  vertical-align: top;
  border-radius: 5px 5px 3px 3px;
  background: #393e46;
  box-shadow: 0 0 7px rgba(0, 0, 0, .03);}

@media (max-width: 519px) {
  .rent-machine .wrapper-catalog .machines > div {
    margin-bottom: 20px;}}

@media (min-width: 520px) and (max-width: 759px) {
  .rent-machine .wrapper-catalog .machines > div {
    margin: 0 10px 20px 10px;}}

@media (min-width: 760px) and (max-width: 999px) {
  .rent-machine .wrapper-catalog .machines > div {
    margin: 0 10px 20px 10px;}}

@media (min-width: 1000px) {
  .rent-machine .wrapper-catalog .machines > div {
    margin: 0 10px 20px 10px;}}

.rent-machine .wrapper-catalog .machines > div .rent {
  font: 500 24px/157px 'Rubik';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 220px;
  height: 157px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  border-radius: 3px 3px 0 0;
  background: rgba(57, 62, 70, .85);}

.rent-machine .wrapper-catalog .machines > div:hover .rent {
  opacity: 1;}

.rent-machine .wrapper-catalog .machines .img {
  overflow: hidden;
  width: 220px;
  height: 157px;
  border-radius: 3px 3px 0 0;
  background: #fff;}

.rent-machine .wrapper-catalog .machines .img img {
  display: block;
  width: 157px;
  height: 157px;
  margin: 0 auto;
  background: #fff;}

.rent-machine .wrapper-catalog .machines .model {
  font: 500 14px/16px 'Roboto';
  position: absolute;
  top: 167px;
  left: 10px;
  width: 200px;
  text-align: left;
  color: #fff;}

.rent-machine .wrapper-catalog .machines .refurbished,
.rent-machine .wrapper-catalog .machines .price {
  font: 500 13px/13px 'Roboto';
  position: absolute;
  bottom: 10px;}

.rent-machine .wrapper-catalog .machines .refurbished {
  left: 10px;
  color: #fff;}

.rent-machine .wrapper-catalog .machines .price {
  right: 10px;
  color: #579eff;}



































































