.re-supply-form .group {margin-bottom: 10px;}
.re-supply-form .m20 {margin: 20px 0;}

.re-supply-form form {
  width: 300px;
  margin: 20px auto;}

/**
 * Multi input / select lines
 */

.re-supply-form .first-name,
.re-supply-form .last-name,
.re-supply-form .month,
.re-supply-form .day,
.re-supply-form .year {
  display: inline-block;
  margin: 0;
  vertical-align: top;}

.re-supply-form .first-name,
.re-supply-form .month,
.re-supply-form .day {margin-right: 2%;}

.re-supply-form .first-name {width: 49%;}
.re-supply-form .last-name {width: 49%;}

.re-supply-form .month {width: 44%;}
.re-supply-form .day {width: 26%;}
.re-supply-form .year {width: 26%;}
