/**
 * Wrapper
 */

@media (max-width: 999px) {
  .re-supply-info .wrapper {
    padding-right: 20px !important;
    padding-left: 20px !important;}}

/**
 * Header
 */

.re-supply-info-header {
  width: 100%;
  background: url(../../../../img/bg/page1-2.jpg) no-repeat center top;
  background-size: cover;}

.re-supply-info-header .wrapper {
  padding: 30px 0;
  text-align: center;}

.re-supply-info-header .title {
  font: 500 26px/30px 'Roboto';
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .15);}

.re-supply-info-header .description {
  font: 0/0 a;
  position: relative;
  display: inline-block;
  padding: 30px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .05);}

.re-supply-info-header .description img,
.re-supply-info-header .description div {
  display: inline-block;
  vertical-align: top;}

.re-supply-info-header .description img {
  margin-right: 270px;
  border-radius: 3px;}

@media (min-width: 1000px) {
  .re-supply-info-header .description div {
    position: absolute;
    right: 30px;
    bottom: 50%;
    width: 240px;
    transform: translate(0, 50%);}}

.re-supply-info-header .line1,
.re-supply-info-header .line2,
.re-supply-info-header .line3 {
  display: block;
  text-align: center;
  text-transform: uppercase;}

.re-supply-info-header .line1 {font: 600 34px/30px 'Roboto';}
.re-supply-info-header .line2 {font: 600 37px/33px 'Roboto';}
.re-supply-info-header .line3 {font: 600 13px/14px 'Roboto';}

.re-supply-info-header a {
  font: 500 26px/61px 'Roboto';
  display: block;
  width: 166px;
  margin: 30px auto 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #579eff;}

.re-supply-info-header a:hover {
  background: #84c7ff;}

/**
 * Body
 */

@media (max-width: 999px) {.re-supply-info-body .wrapper {padding: 20px;}}
@media (min-width: 1000px) {.re-supply-info-body .wrapper {padding: 50px 0;}}

.re-supply-info-body .title {
  font: 500 36px/42px 'Roboto';
  text-align: center;
  text-transform: uppercase;
  color: #579eff;}

@media (max-width: 999px) {.re-supply-info-body .title {font: 500 24px/28px 'Roboto';}}
@media (min-width: 1000px) {.re-supply-info-body .title {font: 500 36px/42px 'Roboto';}}

@media (min-width: 1000px) {
  .re-supply-info-body .box {
    position: relative;
    height: 340px;
    margin-top: 20px;}}

.re-supply-info-body .msg1,
.re-supply-info-body .msg2,
.re-supply-info-body .msg3 {
  font: 400 12px/15px 'Rubik';
  display: block;
  width: 195px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .05);}

@media (max-width: 999px) {
  .re-supply-info-body .msg1,
  .re-supply-info-body .msg2,
  .re-supply-info-body .msg3 {
    margin-top: 20px;}}

@media (min-width: 1000px) {
  .re-supply-info-body .msg1,
  .re-supply-info-body .msg2,
  .re-supply-info-body .msg3 {
    position: absolute;}
  .re-supply-info-body .msg1 {
    top: 0;
    left: 0;}
  .re-supply-info-body .msg2 {
    bottom: 0;
    left: 0;}
  .re-supply-info-body .msg3 {
    right: 0;
    bottom: 50%;
    transform: translate(0, 50%);}}

.re-supply-info-body ul {
  margin: 10px 0 0 20px;
  list-style-type: disc;
  text-align: left;}

.re-supply-info-body img {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);}

/**
 * Footer
 */

.re-supply-info-footer {
  background: #222831;}

.re-supply-info-footer .wrapper {
  text-align: center;}

@media (max-width: 999px) {.re-supply-info-footer .wrapper {padding: 20px 0;}}
@media (min-width: 1000px) {.re-supply-info-footer .wrapper {padding: 35px 0;}}

.re-supply-info-footer div,
.re-supply-info-footer span {
  font: 400 14px/17px 'Rubik';
  color: #fff;}

.re-supply-info-footer .link {
  display: inline-block;
  text-align: center;
  background: transparent;}

@media (max-width: 999px) {
  .re-supply-info-footer .link {
    padding: 0;
    border: 0;
    border-radius: 0;}}

@media (min-width: 1000px) {
  .re-supply-info-footer .link {
    padding: 13px 33px;
    border: 3px solid #579eff;
    border-radius: 33px;}}

.re-supply-info-footer a {color: #579eff;}
.re-supply-info-footer a:hover {color: #84c7ff;}
