<div class="billing" ng-controller="billing">

  <div class="header-block">
    <div ng-include="'app/views/modules/header2.html'" class="head2"></div>
    <div class="title">shipping and billing</div>
  </div>

  <div class="container">
    <div class="wrapper">
      <form name="billData" ng-submit="submitPurchase();" novalidate>

        <div class="group title">Shipping Information</div>

        <div class="group">
          <div class="group">
            <input class="first-name" type="text" placeholder="First Name"
                   name="shipFirstName"
                   ng-model="shipFirstName"
                   ng-pattern="pattern.name" required>
            <input class="last-name" type="text" placeholder="Last Name"
                   name="shipLastName"
                   ng-model="shipLastName"
                   ng-pattern="pattern.name" required>
          </div>

          <div class="group">
            <input type="text" placeholder="Address"
                   name="shipAddress"
                   ng-model="shipAddress" required>
          </div>

          <div class="group">
            <input type="text" placeholder="Address (optional)"
                   ng-model="shipAddressOpt">
          </div>

          <div class="group">
            <input type="text" placeholder="City"
                   name="shipCity"
                   ng-model="shipCity" required>
          </div>

          <div class="group">
            <div class="select state" ng-class="returnClass(billData.shipState.$touched, billData.shipState.$invalid, billData.$submitted);">
              <select name="shipState" ng-model="shipState" required>
                <option value="">State</option>
                <option ng-repeat="state in states" ng-bind="state" ng-value="state"></option>
              </select>
            </div>

            <input class="zip" type="text" placeholder="Zip Code"
                   name="shipZip"
                   ng-model="shipZip"
                   ng-pattern="pattern.zip" required>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group title">Billing Information</div>

        <div class="group">
          <div class="group">
            <input type="text" placeholder="Credit Card Number"
                   name="cardNumber"
                   ng-model="cardNumber" required>
          </div>

          <div class="group">
            <div class="select month" ng-class="returnClass(billData.cardMonth.$touched, billData.cardMonth.$invalid, billData.$submitted);">
              <select name="cardMonth" ng-model="cardMonth" required>
                <option value="">Month</option>
                <option ng-repeat="month in months" ng-bind="month" ng-value="month"></option>
              </select>
            </div>

            <div class="select year" ng-class="returnClass(billData.cardYear.$touched, billData.cardYear.$invalid, billData.$submitted);">
              <select name="cardYear" ng-model="cardYear" required>
                <option value="">Year</option>
                <option ng-repeat="year in years" ng-bind="year" ng-value="year"></option>
              </select>
            </div>

            <input class="cvv" type="text" placeholder="CVV"
                   name="cardCvv"
                   ng-model="cardCvv"
                   ng-pattern="pattern.cvv" required>
          </div>

          <div class="group">
            <div class="check-center">
              <div class="check check-hor">
                <label>
                  <input type="checkbox" ng-model="sameBillShip">
                  <div></div><span>Billing address same as shipping</span>
                </label>
              </div>
            </div>
          </div>

          <div class="group" ng-if="!sameBillShip">
            <div class="group">
              <input class="first-name" type="text" placeholder="First Name"
                     name="billFirstName"
                     ng-model="billFirstName"
                     ng-pattern="pattern.name" required>
              <input class="last-name" type="text" placeholder="Last Name"
                     name="billLastName"
                     ng-model="billLastName"
                     ng-pattern="pattern.name" required>
            </div>

            <div class="group">
              <input type="text" placeholder="Address"
                     name="billAddress"
                     ng-model="billAddress" required>
            </div>

            <div class="group">
              <input type="text" placeholder="Address (optional)"
                     ng-model="billAddressOpt">
            </div>

            <div class="group">
              <input type="text" placeholder="City"
                     name="billCity"
                     ng-model="billCity" required>
            </div>

            <div class="group">
              <div class="select state" ng-class="returnClass(billData.billState.$touched, billData.billState.$invalid, billData.$submitted);">
                <select name="billState" ng-model="billState" required>
                  <option value="">State</option>
                  <option ng-repeat="state in states" ng-bind="state" ng-value="state"></option>
                </select>
              </div>

              <input class="zip" type="text" placeholder="Zip Code"
                     name="billZip"
                     ng-model="billZip"
                     ng-pattern="pattern.zip" required>
            </div>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group">
          <input type="text" placeholder="Promo Code"
                 ng-model="promoCode">
        </div>

        <div class="group"><hr></div>

        <div class="group result">
          <div ng-repeat="result in purchaseResult">
            <span ng-bind="result.bind"></span>
            <span ng-bind="'$' + result.cost"></span>
          </div>
          <div>
            <span>Shipping & Handling</span>
            <span>FREE</span>
          </div>
          <hr>
          <div>
            <span>Total</span>
            <span ng-bind="purchaseResultTotal();"></span>
          </div>
        </div>

        <div class="group"><hr></div>

        <div class="group purchase-info" ng-bind="purchaseInfo"></div>

        <div class="group btn-fluid">
          <input type="submit" value="Purchase" ng-click="submitPurchase()">
        </div>

      </form>
    </div>
  </div>

</div>






























