<div class="thanks" ng-controller="thanks">

  <div class="header-block">
    <div ng-include="'app/views/modules/header3.html'" class="head2"></div>
    <div class="description">Thank you for your submission! We will follow up with you via phone or email in the next few days to complete your order</div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div class="title" ng-repeat-start="data in content" ng-bind="data.title + ' Information'"></div>

      <div class="line">
        <span class="left">First Name</span>
        <span class="right" ng-bind="data.firstName"></span>
      </div>

      <div class="line">
        <span class="left">Last Name</span>
        <span class="right" ng-bind="data.lastName"></span>
      </div>

      <div class="line">
        <span class="left">Address</span>
        <span class="right" ng-bind="data.address"></span>
      </div>

      <div class="line" ng-if="data.addressOpt">
        <span class="left">Address (optional)</span>
        <span class="right" ng-bind="data.addressOpt"></span>
      </div>

      <div class="line">
        <span class="left">State & Zip</span>
        <span class="right" ng-bind="data.state + ' (' + data.zip + ')'"></span>
      </div>

      <div class="group" ng-repeat-end><hr></div>

      <div class="group btn-fluid">
        <input type="button" value="Back to Home Page" ui-sref="home">
      </div>
    </div>
  </div>

</div>






























