<div class="re-supply-form" ng-controller="reSupplyForm">

  <div ng-include="'app/views/modules/header1.html'" class="head1"></div>

  <div class="container">
    <div class="wrapper">
      <form novalidate name="reSupply" ng-submit="submitData();">
        <div class="group">
          <input class="first-name" type="text" placeholder="First Name"
                 name="firstName"
                 ng-model="firstName"
                 ng-pattern="pattern.name" required>
          <input class="last-name" type="text" placeholder="Last Name"
                 name="lastName"
                 ng-model="lastName"
                 ng-pattern="pattern.name" required>
        </div>

        <div class="group">
          <input type="text" placeholder="Email Address"
                 name="email"
                 ng-model="email"
                 ng-pattern="pattern.email" required>
        </div>

        <div class="group">
          <input type="text" placeholder="Phone Number"
                 name="phone"
                 ng-model="phone"
                 ng-pattern="pattern.phone" required>
        </div>

        <div class="group">
          <div class="select month" ng-class="returnClass(reSupply.month.$touched, reSupply.month.$invalid, reSupply.$submitted);">
            <select name="month" ng-model="month" required>
              <option value="">Month</option>
              <option ng-repeat="month in months" ng-bind="month" ng-value="month"></option>
            </select>
          </div>
          <div class="select day" ng-class="returnClass(reSupply.day.$touched, reSupply.day.$invalid, reSupply.$submitted);">
            <select name="day" ng-model="day" required>
              <option value="">Day</option>
              <option ng-repeat="day in days" ng-bind="day" ng-value="day"></option>
            </select>
          </div>
          <div class="select year" ng-class="returnClass(reSupply.year.$touched, reSupply.year.$invalid, reSupply.$submitted);">
            <select name="year" ng-model="year" required>
              <option value="">Year</option>
              <option ng-repeat="year in years" ng-bind="year" ng-value="year"></option>
            </select>
          </div>
        </div>

        <div class="group m20">
          <label class="text-center">Are you a current patient?</label>
          <div class="radio-center">
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="currentPatient" ng-model="currentPatient" ng-value="true">
                <div></div><span>Yes</span>
              </label>
            </div>
            <div class="radio radio-hor">
              <label>
                <input type="radio" name="currentPatient" ng-model="currentPatient" ng-value="false">
                <div></div><span>No</span>
              </label>
            </div>
          </div>
        </div>

        <div class="group">
          <input type="text" placeholder="Offer Code (optional)"
                 ng-model="offerCode">
        </div>

        <div class="group btn-fluid">
          <input type="submit" value="Submit" ng-click="submitData()">
        </div>
      </form>
    </div>
  </div>

</div>

















