<div class="re-supply-info" ng-controller="reSupplyInfo">

  <div ng-include="'app/views/modules/header1.html'" class="head1"></div>

  <div class="re-supply-info-header">
    <div class="container">
      <div class="wrapper">

        <div class="title" ng-bind="content.header.title"></div>

        <div class="description">
          <img class="hide-md" src="content/img/photo/delivered-box.jpg" alt="">
          <div>
            <span class="line1" ng-bind="content.header.bind1"></span>
            <span class="line2" ng-bind="content.header.bind2"></span>
            <span class="line3" ng-bind="content.header.bind3"></span>
            <a ui-sref="">sign up</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="re-supply-info-body">
    <div class="container">
      <div class="wrapper">

        <div class="title" ng-bind="content.body.title"></div>

        <div class="box">
          <span class="msg1" ng-bind="content.body.bind1"></span>
          <span class="msg2" ng-bind="content.body.bind2"></span>
          <span class="msg3">
            <div ng-bind="content.body.bind3.title1"></div>
            <div ng-bind="content.body.bind3.title2"></div>
            <ul>
              <li ng-repeat="data in content.body.bind3.list" ng-bind="data"></li>
            </ul>
          </span>
          <img class="hide-md" src="http://fakeimg.pl/500x300/393e46/fff/?text=box+image&font=lobster">
        </div>

      </div>
    </div>
  </div>

  <div class="re-supply-info-footer">
    <div class="container">
      <div class="wrapper">
        <span class="link">
          <div ng-bind="content.footer.bind1"></div>
          <div>
            <a ui-sref="sleepTest.info" ng-bind="content.footer.bind2"></a>
            <span ng-bind="content.footer.bind3"></span>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

















