<div class="header head-back" ng-controller="header">
  <div class="container">
    <div class="header-wrapper clearfix">

      <div class="back-link">
        <div ng-click="'someBackFunction'" role="button">
          <span ng-include="'content/svg/icons/back.svg'"></span>
          <span>back</span>
        </div>
      </div>

      <div class="logotype" ng-include="'content/svg/logotype.svg'"></div>

    </div>
  </div>
</div>
