<div class="header head-logo" ng-controller="header">
  <div class="container">
    <div class="header-wrapper">

      <div class="logotype" ng-include="'content/svg/logotype.svg'"></div>

    </div>
  </div>
</div>
