<div class="blackout" ng-controller="modal" ng-show="showModal2">

  <div class="window">
    <div class="title">Message</div>

    <div class="message" ng-bind="modal2Msg"></div>

    <div class="group btn-center">
      <input type="button" value="close" ng-click="showModal2Func();">
    </div>
  </div>

</div>

