<div class="block5" ng-controller="block5">

  <div class="top-cut" ng-include="'content/svg/cut/top.svg'"></div>

  <div class="container">
    <div class="wrapper">

      <div class="title" ng-bind="content.title + ' CPAP'"></div>

      <article>
        <div class="img"><img ng-src="{{content.imageUrl}}" alt=""></div>
        <div class="machine">
          <div class="top">
            <span class="model" ng-bind="content.model"></span>
            <span class="price" ng-bind="'$' + content.price + ' / month'"></span>
          </div>
          <div class="mid" ng-bind="content.description"></div>
          <div class="bot">
            <span role="button" ng-click="showModal1Func();">Rent</span>
            <span role="button" ui-sref="catalog.cpap">Catalog</span>
          </div>
        </div>
      </article>

    </div>
  </div>

  <div class="bot-cut" ng-include="'content/svg/cut/bot.svg'"></div>

</div>
