<div class="block6" ng-controller="block6">

  <div class="container">
    <div class="wrapper">

      <div class="accredition">
        <span ng-repeat-start="data in content"></span>
        <img ng-src="content/img/logos/{{data}}" alt="">
        <span ng-repeat-end></span>
      </div>

    </div>
  </div>

</div>
