<div class="block2" ng-controller="block2">

  <div class="container">
    <div class="wrapper">

      <article class="left-to-right">
        <div class="img pull-left">
          <img ng-src="content/img/photo/{{content.imgUrl1}}">
        </div>
        <div class="info pull-right">
          <div class="title" ng-bind="content.title1"></div>
          <hr>
          <div class="desc" ng-bind="content.desc1"></div>
        </div>
      </article>

      <article class="right-to-left">
        <div class="img pull-right">
          <img ng-src="content/img/photo/{{content.imgUrl2}}">
        </div>
        <div class="info pull-left">
          <div class="title" ng-bind="content.title2"></div>
          <hr>
          <div class="desc" ng-bind="content.desc2"></div>
        </div>
      </article>

    </div>
  </div>

</div>
