.ws-page form .left-right .left,
.ws-page form .left-right .right {
  display: inline-block;
  vertical-align: top;}

.ws-page form .left-right .left {margin-right: 2%;}

.ws-page form .left-right .left {width: 70%;;}
.ws-page form .left-right .right {width: 28%;}

.ws-page form .test-info {
  font: 400 14px/16px 'Roboto';
  text-align: center;}
