<div class="rent-catalog" ng-controller="rentCatalog">

  <div class="header-block">
    <div ng-include="'app/views/modules/header1.html'" class="head2"></div>
    <div class="title">Rental Program</div>
    <div class="container">
      <div class="preview">
        <div class="left-btn" animate="all-all" role="button"
             ng-click="leftMachine();"
             ng-class="leftDisable"
             ng-include="'content/svg/icons/left.svg'"></div>

        <div class="preview-wrapper">
          <img ng-repeat="machine in machines"
               ng-src="{{machine.imageUrl}}"
               ng-class="returnImgClass($index);">
        </div>

        <div class="right-btn" animate="all-all" role="button"
             ng-click="rightMachine();"
             ng-class="rightDisable"
             ng-include="'content/svg/icons/right.svg'"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div class="machine"
           ng-repeat="machine in machines"
           ng-class="showMachineCheck($index);">

        <div class="title" ng-bind="machine.title"></div>

        <div class="info">
          <div class="every">
            <div>monthly</div>
            <div>price</div>
          </div>
          <div class="price" ng-bind="'$' + machine.price"></div>
          <div class="ships">
            <div ng-bind="machine.ships1"></div>
            <div ng-bind="machine.ships2"></div>
          </div>
        </div>

        <div class="select-btn">
          <a ui-sref="common.billing">Select</a>
        </div>

        <div class="desc" ng-bind="machine.desc"></div>

        <hr>

        <ul>
          <li ng-repeat-start="list in machine.lists" ng-bind="list"></li>
          <hr ng-repeat-end>
        </ul>

        <a class="more">Learn More</a>

      </div>
    </div>
  </div>

</div>
