<div class="rent-machine" ng-controller="rentMachine">

  <div class="header-block">
    <div ng-include="'app/views/modules/header2.html'" class="head2"></div>
    <div class="title">Rental Program</div>
    <div class="container">
      <div class="preview">
        <img ng-src="{{refCpap.imgUrl}}">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="wrapper wrapper-info">
        <div class="title" ng-bind="refCpap.programName"></div>

        <div class="info">
          <div class="cost" ng-bind="refCpap.cost"></div>
          <div class="price" ng-bind="'$' + refCpap.price"></div>
          <div class="period">per month</div>
        </div>

        <div class="select-btn">
          <a ui-sref="common.billing">Select</a>
        </div>
    </div>
  </div>

  <div class="process">
    <div class="container">
      <div class="wrapper">
        <div class="title">Easy 3 Step Process</div>

        <div class="steps">
          <span ng-repeat-start="step in refCpap.steps"></span>

          <div class="step">
            <img ng-src="content/svg/steps/{{$index + 1}}.svg" alt="">
            <div class="desc" ng-bind="step.bind"></div>
          </div>

          <span ng-repeat-end></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="wrapper wrapper-desc">
      <p>
        <span class="article">How it works: </span>
        <span ng-bind="refCpap.howItWorks"></span>
      </p>
      <p ng-repeat="paragraph in refCpap.paragraphs">
        <span class="article" ng-bind="paragraph.title + ': '"></span>
        <span ng-bind="paragraph.desc"></span>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="wrapper wrapper-catalog">
      <div class="division">
        <div>See our options below</div>
      </div>

      <div class="machines-section">
        <div class="machines">
          <div ng-repeat="machine in machines">
            <div class="rent" animate="all">Rent</div>
            <div class="img"><img ng-src="{{machine.imgUrl}}" alt="{{machine.model}}"></div>
            <div class="model" ng-bind="machine.model | characters:45"></div>
            <div class="refurbished" ng-bind="machine.refurbished ? 'Refurbished' : 'New'"></div>
            <div class="price" ng-bind="'$' + machine.price + ' / month'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

















